body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    font-size: 72pt;
    text-align: center;
    color: blue;
}

.title {
    font-size: 46pt;
    color: red;
}